<!DOCTYPE html>
<html>
<head>
{% block styles %}
{% endblock %}
</head>
<body>
<div class="content">

	{% if logged_in %}
		<input id="username" type="hidden" value="{{ logged_in }}" />
		<a id="logout" href="/logout/"></a>
	{% else %}
		<a id="login" href="href="/accounts/login/""></a>
	{% endif %}

	<div class="nav">
		<img id="icon" src="{{ rp }}/static/img/library.ico">
		<ul class="nav-items">
			<li><a href="#">Events</a></li>
			<li><a class="active" href="{{ rp }}/">Books</a></li>
			<li><a href="#">Resources</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>	

	<div class="main">
		{% block content %}
		{% endblock %}
	</div>
</div>


<!-- scripts -->
{% block scripts %}
{% endblock %}
</body>
</html>