body {
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
div.main-content {
	margin-top: 50px;
}

/* Menu */
.nav {
	margin-top: 20px;
	max-height: 130px;
}
#icon {
	height: 130px;
}
ul.nav-items {
	float: right;
	margin-top: 50px;
}
ul.nav-items li {
	display: inline;
}
ul.nav-items li a {
	list-style-type: none;
	text-decoration: none;
	border-right: 2px solid #f2f2f2;
	font-size: 2.0em;
	padding-right: 20px;
	padding-left: 20px;
	color: #95EFFF;
}
ul.nav-items li a:hover {
	border-bottom: 4px solid #95EFFF;
}

/* Books */
div.book {
	border: 2px solid #f2f2f2;
	padding: 15px;
	border-radius: 18px;
	margin-bottom: 25px;
}
div.heading a.title { font-size: 1.5em; list-style-type: none; text-decoration: none; color: #0066c0; max-width: 70%;}
div.cover { width: 30%; }
div.cover img {
	height: 200px;
	display: block;
}
div.heading { width: 75%; float: right; margin-top: -140px;}

/* Login header */
#login {
	color: white;
	position: absolute;
	top: 10px;
	right: 20px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: green;
	list-style-type: none;
	text-decoration: none;
}
#logout {
	color: white;
	position: absolute;
	top: 10px;
	right: 20px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: green;
	list-style-type: none;
	text-decoration: none;
}

/* chrome fixes */
a.no {border:0; outline:none;}
a.no:focus {outline: none; }
input:focus {outline: none; }
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


